   /* .ui.container {  
    padding: 0px;
} */

/* up to 600 is max-width */
@media only screen and (max-width: 600px) {
  body {
      background-color: lightblue;
  }
}

.ui.centered.cards {
    margin-top: 40px;
}
