@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Comfortaa|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.logo {
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}

body {
    font-family: 'Raleway', sans-serif; 
}

.ui.centered.cards {
    margin-top: 40px;
}
.ui.secondary.menu {
    background-color: white;
    margin-bottom: 40px;
    padding: 0px 60px;
}
.login-signup-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ui.menu .item {
    line-height: 0.5;
}

.login-signup-color {
    color: rgb(96,108,124) !important;
}

